<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO" name="cloudhub" packages="com.splunk.logging,org.apache.logging.log4j">
	<Appenders>
		<!-- CloudHub Logging configuration -->
		<Log4J2CloudhubLogAppender name="CLOUDHUB"
			addressProvider="com.mulesoft.ch.logging.DefaultAggregatorAddressProvider"
			applicationContext="com.mulesoft.ch.logging.DefaultApplicationContext"
			appendRetryIntervalMs="${sys:logging.appendRetryInterval}"
			appendMaxAttempts="${sys:logging.appendMaxAttempts}"
			batchSendIntervalMs="${sys:logging.batchSendInterval}"
			batchMaxRecords="${sys:logging.batchMaxRecords}" memBufferMaxSize="${sys:logging.memBufferMaxSize}"
			journalMaxWriteBatchSize="${sys:logging.journalMaxBatchSize}"
			journalMaxFileSize="${sys:logging.journalMaxFileSize}"
			clientMaxPacketSize="${sys:logging.clientMaxPacketSize}"
			clientConnectTimeoutMs="${sys:logging.clientConnectTimeout}"
			clientSocketTimeoutMs="${sys:logging.clientSocketTimeout}"
			serverAddressPollIntervalMs="${sys:logging.serverAddressPollInterval}"
			serverHeartbeatSendIntervalMs="${sys:logging.serverHeartbeatSendIntervalMs}"
			statisticsPrintIntervalMs="${sys:logging.statisticsPrintIntervalMs}">
			<PatternLayout pattern="[%d{MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n" />
		</Log4J2CloudhubLogAppender>


 		<Http name="BLENDLOGS" url="${sys:loggerUrl}" verifyHostname="false" method="POST">
   			<PatternLayout pattern="%d{yyyy-MM-dd}T%d{HH:mm:ss.SSSZ} %m" />
			<Property name="Authorization" value="${sys:loggerToken}" />
			<Property name="Environment" value="${sys:env}" />
			<Property name="Service" value="blend-template-connector-api" />
		</Http>
	</Appenders>